<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/login" method="post">
        <input type="text" name="question" placeholder="question">
        <input type="text" name="mark" placeholder="mark">
        <input type="text" name="difficulty" placeholder="difficulty">
        <input type="text" name="type" placeholder="type">
        <input type="text" name="answer" placeholder="answer">
        <input type="submit" value="convert to json">
    </form>
    
    
</body>
</html>